rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Cada usuario solo accede a sus propios datos
    match /users/{uid}/{document=**} {
      allow read, write: if request.auth != null
                         && request.auth.uid == uid;
    }

    // Base de ejercicios — lectura autenticada, escritura bloqueada
    match /exercises/{exerciseId} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    // Base de alimentos — lectura autenticada, escritura bloqueada
    match /foods/{foodId} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}
